<main class="container">
    <mat-card class="example-card mat-elevation-z4">
        <img mat-card-image [src]="imgSrc" [alt]="imgTitle" id="imgColorida" />
        <div class="side">
            <mat-card-content>
                <mat-card-title class="title"
                    >Colorindo Imagens com DeepAI API</mat-card-title
                >
                <p>
                    Colora imagens preto e branco com
                    <strong>Image Colorization API</strong>. Carregue a imagem
                    que deseja colorir e veja a mágica acontecer
                </p>

                <!--O input está oculto na página sendo-->
                <input
                    type="file"
                    class="file-input"
                    (change)="onFileSelected($event)"
                    #fileUpload
                />

                <div class="file-upload">
                    <button
                        mat-mini-fab
                        color="primary"
                        class="upload-btn"
                        (click)="fileUpload.click()"
                    >
                        <mat-icon>attach_file</mat-icon>
                    </button>

                    {{ fileName || "Nenhum arquivo carregado." }}
                </div>
                <mat-progress-bar
                    class="progress-bar"
                    mode="indeterminate"
                    color="primary"
                    *ngIf="uploadProgress"
                ></mat-progress-bar>
            </mat-card-content>
            <mat-card-actions class="action">
                <button
                    mat-raised-button
                    color="primary"
                    [disabled]="fileName === ''"
                    (click)="deepaiColorize(fileUpload)"
                >
                    Colorir
                </button>
            </mat-card-actions>
        </div>
    </mat-card>
</main>
