
.container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  max-height: 440px;
}

.example-card {
  display: flex;
  padding-top: 50px;
  padding-left: 50px;
  align-items: center;
  flex-direction: row;
  max-width: 1000px;
  gap: 50px;
}

.side {
  display: flex;
  flex-direction: column;
  max-height: 250px;
}

.title{
  padding-bottom: 10px;
}

.example-header-image {
  background-size: cover;
}

.file-input{
  display: none;
}

.file-upload {
  margin-bottom: 5px;
}

.action {
  display: flex;
  justify-content: flex-end;
  width: 95%;
  
}


 