
<main class="container">
  <mat-card class="example-card mat-elevation-z4">
    <img mat-card-image src="./assets/img/foto-preto-e-branco-paisagem-tecnica.jpg" alt="Foto preto e branco">
    <div class="side">
      <mat-card-content>
        <mat-card-title class="title">Colorindo Imagens com DeepAI API</mat-card-title>
        <p>
          Colora imagens preto e branco com <strong>Image Colorization API</strong>. Carregue a imagem que deseja colorir e veja a mágica acontecer
        </p>
        
        <button mat-raised-button color="primary" type="file">Upload</button>
      </mat-card-content>
    </div>
  </mat-card>
</main>

